body {
  background-color: #ddd;
}
h2 {
  font-family: verdana;
  margin-top: 0;
}
#main {
  margin: 10em auto;
  width: 650px;
  position: relative;
}
#timer {
  text-align: center;
}
#players {
  position: absolute;
  width: 150px;
  left: 0;
  top: 50px;
}
#players ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#players li {
  margin: 0 0 0.2em 0;
  display: block;
  border: 1px solid black;
  padding: 0.2em;
  text-align: center;
  background-color: white;
  font-size: smaller;
}
#board {
  position: absolute;
  top: 50px;
  left: 180px;
  width: 240px;
}
#words {
  position: absolute;
  top: 50px;
  right: 0;
  width: 150px;
  text-align: right;
}
#words ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#words li {
  margin: 0 0 0.2em 0;
  display: block;
  border: 1px solid black;
  padding: 0.2em;
  text-align: center;
  color: white;
  font-size: smaller;
}
#words li.success { background-color: green; }
#words li.taken { background-color: yellow; color: black; }
#words li.invalid { background-color: red; }
